@model E_Commerce.Models.DomainModel.Product

<form method="post" enctype="multipart/form-data" asp-action="Register" asp-controller="Product">
    <div class="mb-3">
        <label class="form-label">Product Name</label>
        <input asp-for="ProductName" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input asp-for="ProductPrice" type="number" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Quantity</label>
        <input asp-for="ProductQuantity" type="number" class="form-control" required />
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea asp-for="ProductDescription" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Product Image</label>
        <input  name="file" type="file" class="form-control" required/>
    </div>

    <button type="submit" class="btn btn-primary">Register Product</button>
    <!-- Error Message -->
    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage as string))
    {
        <div class="alert alert-danger mt-3" role="alert">
            <p>@ViewBag.ErrorMessage</p>
        </div>
    }

    <!-- Success Message -->
    @if (!string.IsNullOrEmpty(ViewBag.SuccessMessage as string))
    {
        <div class="alert alert-success mt-3" role="alert">
            <p>@ViewBag.SuccessMessage</p>
        </div>
    }
</form>
