@model IEnumerable<E_Commerce.Models.DomainModel.Product>

<div class="container my-5" style="margin-bottom: 60px; height: 90vh;">
<h2 class="text-2xl font-bold mb-4">My Products</h2>


 <a asp-action="SellerProduct" asp-controller="Product">View products</a><br />
<a asp-action="IsArcheive" asp-controller="Product">Archeive Produts</a>
<br />

    <a asp-action="IsDeleted" asp-controller="Product">Recycle Bin</a>
    <br />

    <a asp-action="OrderProduct" asp-controller="Product">Order Product</a>
    <br />

<a asp-action="Register" asp-controller="Product">Create Product</a>
   
</div>


